*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
caption{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 20px;
}

table {
    border-radius: 10px;
    border: none;
    width: 70%;
    align-items: center;
    text-align: center;
    table-layout: auto;
    background-color: white;
}

td, th {
    min-width: 100px;
    border-style: none;
    border-radius: 10px;
    border: 2px black solid;
    padding: 10px;
}
th{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    cursor: pointer;
}


tbody tr:hover {
    background-color: lightgray;
}
tfoot tr:hover {
    background-color: lightgreen;
}
tfoot{
    cursor: pointer;
}

