*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
caption{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 20px;
}

table {
    border-radius: 10px;
    border: none;
    width: 70%;
    align-items: center;
    text-align: center;
    table-layout: auto;
    background-color: white;
}

td, th {
    min-width: 100px;
    border-style: none;
    border-radius: 10px;
    border: 2px black solid;
    padding: 10px;
}
th{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    cursor: pointer;
}

div > img{ /*estilos para imagenes dentro de una etiqueta "div"*/
    width: 30%; /*el ancho de la imagen al 30% del ancho del contenedor*/
    border-radius: 10px; /*redondea los bordes de la imagen*/
    margin: 0 auto; /*centra la imagen horizontalmente dentro de su contenedor*/
    display: block; /*hace que la imagen sea un elemento de bloque*/
}
/* Cambiar el color de fondo de toda la fila al pasar el cursor */
tbody tr: {
    background-color: rgb(132, 15, 15); /* Cambia a tu color preferido */
    transition: background-color 0.3s; /* Suaviza la transición de color */
}
