.grid {
    display: grid;
    grid-template-areas: "area area" "menu main" "foot foot"; 
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 100px 200px 100px;
}
.item1{grid-area: area;background-color: chocolate;}
.item2{grid-area: main;background-color: rgb(202, 94, 94);}
.item3{grid-area: menu;background-color: rgb(84, 84, 212);}
.item4{grid-area: foot;background-color: rgb(119, 84, 151);}